[submodule "lib/git-flow-avh"]
	path = lib/git-flow-avh
	url = https://github.com/petervanderdoes/gitflow-avh
[submodule "lib/gl-common.bash"]
	path = lib/gl-common.bash
	url = https://github.com/golflima/gl-common.bash